@using SquishIt.Framework
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Controll</title>
    @{
        WriteLiteral(Bundle.Css().ForceDebug()
            .Add("~/Content/css/lato-font.css")
            .Add("~/Content/css/bootstrap.css")
            .Add("~/Content/css/bootstrap-select.css")
            .Render("~/Content/Controll_#.css"));
    }

</head>
    <body data-spy="scroll" data-target="#navbox">
        @{
            WriteLiteral(Bundle.JavaScript().ForceDebug()
                .Add("~/Content/js/jquery-1.9.1.min.js")
                .Add("~/Content/js/bootstrap.min.js")
                .Add("~/Content/js/bootstrap-select.min.js")
                .Render("~/Content/Controll_#.js"));
        }
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Controll</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="@Url.Content("~/")">About</a></li>
                            <li><a href="@Url.Content("~/Documentation/#")">Quick Start</a></li>
                            <li><a href="@Url.Content("~/Documentation/")">Documentation</a></li>
                            <li><a href="@Url.Content("~/Downloads/")">Downloads</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        
        <!-- Put this at the bottom to speed up -->
        <script type="text/javascript" src="/Content/js/google-code-prettify/run_prettify.js"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>